{% extends 'base.html' %}

{% block content %}
    <h2><a href="{{ url_for('user_root') }}">home</a></h2>

  <form method=post>
    <label for="title">book title</label>
    <input name="title" id="title">
 
    <label for="isbn">book isbn</label>
    <input name="isbn" id="isbn">
 
    <input type=submit value=borrow>
  </form>

  <hr>
  <h1>borrowed books</h1>

  <table style="width:100%">
    {% for book in borrowed_books %}
      <tr>
        <th>{{ book['title'] }}</th>
        <th>{{ book['isbn'] }}</th>
        <th>{{ book['return_date'] }}</th>
      </tr>
    {% endfor %}
  </table>

  <hr>
  <h1>available books</h1>

  <table style="width:100%">
    {% for book in available_books %}
      <tr>
        <th>{{ book['title'] }}</th>
        <th>{{ book['isbn'] }}</th>
      </tr>
    {% endfor %}
  </table>


{% endblock %}