{% extends 'base.html' %}

{% block header %}
  <h1> {{ username }} </h1>

  <h2><a href="{{ url_for('query_book') }}">query book</a></h2>
  <h2><a href="{{ url_for('borrow_book') }}">borrow book</a></h2>
  <h2><a href="{{ url_for('return_book') }}">return book</a></h2>
  <h2><a href="{{ url_for('user_logout') }}">logout</a></h2>

  <table style="width:100%">
    {% for book in borrowed_books %}
      <tr>
        <th>{{ book['title'] }}</th>
        <th>{{ book['isbn'] }}</th>
        <th>{{ book['return_date'] }}</th>
      </tr>
    {% endfor %}
  </table>

{% endblock %}